<!-- <div class="modal fade" id="slide-bottom-popup" data-keyboard="false" data-backdrop="true">
    <div class="modal-body">
		<form id="comment-edit" action="/blog/{{post.key().id()}}/comment-edit" method="post" role="form">
		  <div class="form-group">
		    <label for="comment_body">Edit your comment</label>
		    <p>{{error}}</p>
		    <textarea class="form-control" id="comment_body" rows="4" name="comment" value="">{{comment[0].comment}}</textarea>
		  </div>
		  <br>
		  <button type="submit" class="btn btn-primary">Submit</button>
		  <a class="btn btn-default" data-dismiss="modal" href="#">Cancel</a>
		</form>
		<br>
		<br>
    </div>
</div> -->